{
  "name": "@{{vendor}}/{{slug}}",
  {{#has_author}}"author": "{{author}}",{{/has_author}}
  {{#has_description}}"description": "{{description}}",{{/has_description}}
  {{#has_spdx_license}}"license": "{{spdx_license}}",{{/has_spdx_license}}
  "engines": {
    "node": ">= 6.9.4"
  },
	"repository": {
		"type": "git",
		"url": "git+https://github.com/{{github_account}}/{{github_repo}}.git"
	},
  "dependencies": {},
  "devDependencies": {
    "pressbooks-build-tools": "^0.11.0"
  },
  "scripts": {
    "lint": "npm run -s lint:scripts && npm run -s lint:styles",
		"lint:scripts":
			"node_modules/eslint/bin/eslint.js \"assets/scripts/**/*.js\"",
		"lint:styles":
			"node_modules/stylelint/bin/stylelint.js \"assets/styles/**/*.scss\" --syntax scss",
		"test": "npm run -s lint"
  },
	"eslintConfig": {
		"extends": "./node_modules/pressbooks-build-tools/config/eslint.js"
	},
	"stylelint": {
		"extends": "./node_modules/pressbooks-build-tools/config/stylelint.js"
	}
}
