/*
Theme Name: {{theme_name}}
{{#has_uri}}
Theme URI: {{uri}}
{{/has_uri}}
{{#has_description}}
Description: {{description}}
{{/has_description}}
{{#has_author}}
Author: {{author}}
{{/has_author}}
{{#has_author_uri}}
Author URI: {{author_uri}}
{{/has_author_uri}}
License: {{license}}
Version: {{version}}
Text Domain: {{textdomain}}
Template: pressbooks-book
*/

/* This doesn't do anything. */
