<?php
/**
{{#has_author}}
 * @author  {{author}}
{{/has_author}}
 * @license {{license}}
 */

function {{theme_function_safe}}_theme_setup() {
	// Add theme support for special features here.
}

add_action( 'after_setup_theme', '{{theme_function_safe}}_theme_setup' );
