{
  "name": "{{theme_function_safe}}",
  {{#has_author}}"author": "{{author}}",{{/has_author}}
  "license": "{{license}}",
  "engines": {
    "node": ">= 6.9.4"
  },
  "dependencies": {},
  "devDependencies": {
    "stylelint": "^7.12.0",
    "stylelint-config-standard": "^16.0.0"
  },
  "scripts": {
    "lint": "node_modules/stylelint/bin/stylelint.js '**/*.scss' --syntax scss"
  },
	"stylelint": {
		"extends": "stylelint-config-standard",
		"rules": {
			"indentation": 2,
			"property-no-unknown": [
				true,
				{
					"ignoreProperties": [
						"footnote-style-position",
						"hyphenate-before",
						"hyphenate-after",
						"hyphenate-lines",
						"margin-inside",
						"margin-outside",
						"prince-bookmark-level",
						"prince-footnote-policy",
						"prince-image-resolution",
						"prince-page-group"
					]
				}
			],
			"selector-pseudo-element-no-unknown": [
				true,
				{
					"ignorePseudoElements": [
						"footnote-call"
					]
				}
			]
		}
	}
}
